#homepage {
    background-color: aquamarine;
}

#homepage li{
    font-weight: 800;
}

#chicken-parm {
    background-color: #d23c28;
    color: #f1f2e2;
}

#pizza {
    background-color: #e6a61e;
}

#fried-rice {
    background-color: #c5945b;
}

h1 {
    font-size: 64px;
    font-family: Consolas, monaco, monospace;
    text-align: center;
}

img{
    height: auto;
    Width: 1000px;
}

#homepage h1 {
    background-color: teal;
}

#chicken-parm h2{
    color: #f2d885;
}

#fried-rice h2{
    color: #4c6305;
}

#pizza h2{
    color: #c81e00;
}



